@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Formatação geral */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;   
}

a {
    text-decoration: none;
    color: inherit;
}

/* Menu tela inicial */
#titulo {
    font-size: 1.6rem;
}

.menu {
    width: 100%;
    color: #eee;
    height: 70px;
    position: fixed;
    background-color: #13293D;
}

.menu-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#itens-menu {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#itens-menu li {
    padding: 21px;
}

/* Serviços e lazer */
.serv-container {
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 80px ;  
}

.serv-container img {
    height: 480px;

}

img {
    border: 3px solid black;
    border-radius: 25px;
}
#txt-container {
    padding: 15px;
    margin-left: 13px;
    margin-right: 13px;
    border: 3px solid black;
    border-radius: 25px;
    height: 480px;
}

#linha {
    width: 66%;
    height: 3px;
    background-color: black;
}

#dic h3{
    margin-left: 47%;
}

.serv-container img {
    width: 50%;
}

.serv-container > p {
    width: 50%;
    margin: 0 10px 0 10px;
}

#tit-cmr {
    font-size: 1.4rem;
    align-items: center;
}

/* Footer - copyrigth */
#nocopy {
    background: #13293D;
    color: #eee;
    padding: 5px;
    text-align: center;
    width: 100%;
    display: flex;
}

#nocopy > img {
    display: inline-block;
}

#lado1 {
    margin-right: 60%;
}

#nocenter {
    text-align: left;
}

#titulo2 {
    font-size: 1.5rem;
    margin-left: 10px;
    text-align: left;
}

#direitos {
    margin-top: 25%;
}

#linha2 {
    width: 110px;
    height: 3px;
    background-color: white;
    margin-left: -2px;
}

