@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Formatação geral */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;   
}

a {
    text-decoration: none;
    color: inherit;
}

#titulo {
    font-size: 1.6rem;
}

.menu {
    width: 100%;
    color: #eee;
    height: 70px;
    position: fixed;
    background-color: #13293D;
}

.menu-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#itens-menu {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#itens-menu li {
    padding: 21px;
}

.form-container {
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #006494;
    width: 400px;
    height: 480px;
    padding: 35px
}

div > h2 {
    font-size: 1.5rem;
    color: white;
}

.login form {
    width: 100%     ;
    display: flex;
    flex-direction: column;

}

.login input {
    margin-top: 17px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    height: 30px;
    outline: none;
}

.login img{
    width: 70px;
    height: auto;
}

form [type="submit"]{
    display: block;
    background-color: #13293D;
    color: #eee;
    font-weight: bold;
}

input::placeholder {
    color: black;
}

/* Footer - copyrigth */
#nocopy {
    background: #13293D;
    color: #eee;
    padding: 5px;
    text-align: center;
    width: 100%;
    display: flex;
}

#nocopy > img {
    display: inline-block;
}

#lado1 {
    margin-right: 60%;
}

#nocenter {
    text-align: left;
}

#titulo2 {
    font-size: 1.5rem;
    margin-left: 10px;
    text-align: left;
}

#direitos {
    margin-top: 25%;
}

#linha {
    width: 110px;
    height: 3px;
    background-color: white;
    margin-left: -2px;
}